<script src="bower_components/angular/angular.js"></script>
<script src="src/app.bundle.js"></script>
<link rel="stylesheet" href="style.css"></link>

<body ng-app="app" ng-controller="AppCtrl" style="font-family: monospace;">
  <div class="recipe-list">
    <div ng-repeat="recipe in recipes" class="recipe">
      <label>{{recipe.name}}<input type="checkbox" ng-model="enabled[recipe.id]"></input></label>
    </div>
    <br />
    <div class="recipe">
      <label>Show source<input type="checkbox" ng-model="showSource"></input></label>
    </div>
  </div>
  <ul class="ingredient-list">
    <li ng-repeat="i in ingredients" ng-class="{top: $first, header: i.header}">
      <span ng-if="i.header">= {{i.header}} =</span>
      <span ng-if="!i.header">{{i.ingredientList.quantities | quantityList}} {{i.ingredientList.name}}</span>
      <span ng-if="!i.header && showSource" class="source label">[{{i.note}}]</span>
    </li>
    <li ng-show="selectedRecipes.length > 0 && showSource" class="header">
      = Recipes =
    </li>
    <li ng-show="showSource" ng-repeat="r in selectedRecipes">
      <span class="source">[{{r | shortRecipeName}}]</span> {{r.name}}
    </li>
  </ul>
</body>
